---
---

@charset "utf-8";

$background-color: #f3f3f3;
$text-color: #202020;
$muted-text-color: #a1a1a1;
$primary-color: #202020;
$border-color: #a1a1a1;
$footer-background-color: #202020;
$link-color: #202020;
$masthead-link-color: $text-color;
$masthead-link-color-hover: $text-color;
$navicon-link-color-hover: mix(#fff, $text-color, 80%);

$base00: #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #969896;
$base04: #b4b7b4;
$base05: #c5c8c6;
$base06: #e0e0e0;
$base07: #ffffff;
$base08: #cc6666;
$base09: #de935f;
$base0a: #f0c674;
$base0b: #b5bd68;
$base0c: #8abeb7;
$base0d: #81a2be;
$base0e: #b294bb;
$base0f: #a3685a;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
    font-size: $type-size-6;
}

.sidebar {
    -webkit-transition: none;
    transition: none;
    opacity: 1;
}

.archive__item-title {
    margin-top: 1em;
}

.page__footer-follow .social-icons .svg-inline--fa {
    color: inherit;
}
