---
---

@charset "utf-8";

$background-color: #fff0f0;
$invert-text-color: #ffffff;
$text-color: #222222;
$muted-text-color: #222222;
$primary-color: #8d374d;
$border-color: #8d374d;
$footer-background-color: #8d374d;
$link-color: #222222;
$masthead-link-color: $background-color;
$masthead-link-color-hover: $background-color;
$navicon-link-color-hover: $background-color;

$base00: #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #969896;
$base04: #b4b7b4;
$base05: #c5c8c6;
$base06: #e0e0e0;
$base07: #ffffff;
$base08: #cc6666;
$base09: #de935f;
$base0a: #f0c674;
$base0b: #b5bd68;
$base0c: #8abeb7;
$base0d: #81a2be;
$base0e: #b294bb;
$base0f: #a3685a;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
    font-size: $type-size-6;
}

.sidebar {
    -webkit-transition: none;
    transition: none;
    opacity: 1;
}

.archive__item-title {
    margin-top: 1em;
}

.page__footer {
    color: $invert-text-color;
}

.page__footer-follow .social-icons .svg-inline--fa {
    color: inherit;
}

.masthead {
    border: none;
}

.masthead, .masthead__menu, .greedy-nav {
    background-color: $footer-background-color;
}

.greedy-nav a, .search__toggle {
    color: $invert-text-color;
}

.greedy-nav .visible-links a::before {
    background-color: $background-color;
    -webkit-transition: none;
    transition: none;
    visibility: hidden;
}

.visually-hidden, .search__toggle {
    -webkit-transition: none;
    transition: none;

    &:hover {
        color: $invert-text-color;
    }
}

.search-content .search-input {
    font-size: $type-size-3;
}

.archive__item-title a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        text-decoration: underline;
    }
}

p > code {
    background-color: $base00;
    color: $base05;
}
